@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  box-shadow: 0px 24px 39px 3px rgba(0, 0, 0, 0.1);
}
.btn {
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
